# 2.1 - Introducción a Python

https://docs.python.org/3/

![python](images/python.png)

$$$$

Python es un lenguaje de programación interpretado cuya filosofía hace hincapié en la legibilidad de su código. Se trata de un lenguaje de programación multiparadigma, ya que soporta parcialmente la orientación a objetos, programación imperativa y, en menor medida, programación funcional. Es un lenguaje interpretado, dinámico y multiplataforma.

Es administrado por la Python Software Foundation. Posee una licencia de código abierto, denominada Python Software Foundation License.

In [1]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

```python
Bonito es mejor que feo.
Explícito es mejor que implícito.
Simple es mejor que complejo.
Complejo es mejor que complicado.
Plano es mejor que anidado.
Disperso es mejor que denso.
La legibilidad cuenta.
Los casos especiales no son tan especiales como para romper las reglas.
Aunque la practicidad gana a la pureza.
Los errores nunca deben pasar en silencio.
A menos que se silencien explícitamente.
Ante la ambigüedad, rechaza la tentación de suponer.
Debe haber una -y preferiblemente sólo una- forma obvia de hacerlo.
Aunque esa manera puede no ser obvia al principio, a menos que seas holandés.
Ahora es mejor que nunca.
Aunque nunca es a menudo mejor que *ahora mismo*.
Si la implementación es difícil de explicar, es una mala idea.
Si la implementación es fácil de explicar, puede ser una buena idea.
Los espacios de nombres son una gran idea, ¡hagamos más de ellos!
```

**Tabla de contenidos:**

    1  Números enteros (integer)
    2  Números reales (float)
    3  Números complejos (complex)
    4  Operaciones básicas
    5  Booleanos
    6  Valores nulos (None)
    7  Cadenas de caracteres (string)
    8  Tipos compuestos:
        8.1  Listas
        8.2  Tuplas
        8.3  Conjuntos (set)
        8.4  Diccionarios
    9  Más

## Números enteros (integer)

In [2]:
edad = 38

In [3]:
type(edad)

int

In [4]:
type(0)

int

In [5]:
type(3)

int

In [6]:
type(-3)

int

## Números reales (float)

In [7]:
temp=35.6

In [8]:
type(temp)

float

In [9]:
type(1.618033)

float

In [10]:
type(.32)

float

In [11]:
type(432.)

float

## Números complejos (complex)

In [12]:
4 + 2j

(4+2j)

In [13]:
type(4 + 2j)

complex

## Operaciones básicas

In [14]:
# suma

3 + 4

7

In [15]:
3.5 + 3.5

7.0

In [16]:
# resta 

3 - 4

-1

In [17]:
3.6 - 4

-0.3999999999999999

In [18]:
45.8 - temp

10.199999999999996

In [19]:
(4 + 2j) + (5 - 5j)

(9-3j)

In [20]:
# multiplicacion

3 * 4

12

In [21]:
5 * 4.5

22.5

In [22]:
# division

3 / 4

0.75

In [23]:
3 / 0.16

18.75

In [24]:
# division entera

5 // 4

1

In [25]:
5 // 0.3453563

14.0

In [26]:
# modulo

20 / 3

6.666666666666667

In [27]:
20 // 3

6

In [28]:
20 % 3  # modulo, resto de la division

2

In [29]:
# jerarquia de operaciones

3 * 4 + 2

14

In [30]:
3 * (4 + 2)

18

In [31]:
# potencia / raiz

2 ** 3

8

In [32]:
3 ** (1+5+6)

531441

In [33]:
4 ** 0.5

2.0

In [34]:
2 ** .5

1.4142135623730951

In [35]:
# conversiones

abs(-3)   # valor absoluto

3

In [36]:
int(3.9999999999999999415)   # real a entero ¿?

4

In [37]:
float(3)  # de entero a real

3.0

In [38]:
round(6.51)  # redondeo a numero entero

7

In [39]:
round(4.98349928, 4)  # redondeo a 4 cifras decimales

4.9835

In [40]:
round(4.48349928, 1)  # redondeo a 1 cifras decimales

4.5

In [41]:
import math  # libreria

In [42]:
math.floor(6.83)  # redondeo hacia abajo

6

In [43]:
math.ceil(6.23)  # redondeo hacia arriba

7

In [44]:
help(math.ceil)  # ayuda interna de python

Help on built-in function ceil in module math:

ceil(x, /)
    Return the ceiling of x as an Integral.

    This is the smallest integer >= x.

In [45]:
math.log10(100)  # logaritmo en base 10

2.0

In [46]:
math.log(100)    # logaritmo neperiano, en base e

4.605170185988092

In [47]:
math.exp(2)    # funcion exponencial

7.38905609893065

## Booleanos

In [48]:
bool(0)

False

In [49]:
True

True

In [50]:
False

False

In [51]:
type(True)

bool

In [52]:
0.5 == .5    # igualdad matematica

True

In [53]:
50 < 500   # menor que...

True

In [54]:
50 > 500   # mayor que...

False

In [55]:
not True

False

https://wiki.python.org/moin/BitwiseOperators

In [56]:
4 & 2

0

In [57]:
4 >> 2

1

In [58]:
4 | 2

6

In [59]:
4 << 2

16

#### Ley de De Morgan
```python
not (a or b) == (not a) and (not b)
not (a and b) == (not a) or (not b)
```

In [60]:
not (False and True)

True

In [61]:
(not False) or (not True)

True

## Valores nulos (None)

In [62]:
print(None)  # nada

None

In [63]:
type(None)

NoneType

## Cadenas de caracteres (string)

In [64]:
nombre = 'Pepe'

In [65]:
type(nombre)

str

In [66]:
type('hola')

str

In [67]:
# cuidado con la comillas

"hola"

'hola'

In [68]:
"hola estoy en 'Ironhack'"

"hola estoy en 'Ironhack'"

In [69]:
'''
esto es un comentario multilinea

'''

3

3

In [70]:
var='''
esto es un string multilinea

'''

In [71]:
print(var)

esto es un string multilinea

In [72]:
'hola' + 2

TypeError: can only concatenate str (not "int") to str

In [73]:
'hola' * 2

'holahola'

In [74]:
'hola' + '2'

'hola2'

In [75]:
saludo='hola'

In [76]:
saludo+='2'

In [77]:
saludo

'hola2'

In [78]:
# mas igual etc...

a=2

a+=2   # a=a+2

a

4

In [79]:
a=2

a-=2  # a=a-2

a

0

In [80]:
a=2

a*=3  # a=a*3

a

6

In [81]:
a=2

a/=3

a

0.6666666666666666

In [82]:
a=2

a=a/3

a

0.6666666666666666

## Listas

In [83]:
lst=[10, 2, 354, 110,46, 36, 36, 346, 6, 454, 754, 767, 5, temp, True, False]

lst

[10, 2, 354, 110, 46, 36, 36, 346, 6, 454, 754, 767, 5, 35.6, True, False]

In [84]:
type(lst)

list

In [85]:
len(lst)   # longitud de la lista

16

In [86]:
min(lst)   # minimo de la lista

False

In [87]:
max(lst)   # maximo de la lista

767

In [88]:
5 in lst

True

In [89]:
'hola' in lst

False

In [90]:
'True' in lst

False

In [91]:
sum(lst) / len(lst)   # media

185.1625

In [92]:
str_lst=['hola', 'aqui', 'uo', 'ibrjwe']

max(str_lst)

'uo'

In [93]:
type(lst[0])  # primer elemento

int

In [94]:
lst[0]=1000000

In [95]:
lst

[1000000, 2, 354, 110, 46, 36, 36, 346, 6, 454, 754, 767, 5, 35.6, True, False]

In [96]:
lst[-1]

False

In [97]:
# slicing, acceso por indice en las listas

# lst[start : stop : step]

lst[1 : 10 : 2]

[2, 110, 36, 346, 454]

In [98]:
lst[1 : 10 : 2] = [0, 0, 0, 0, 0]

lst

[1000000, 0, 354, 0, 46, 0, 36, 0, 6, 0, 754, 767, 5, 35.6, True, False]

In [99]:
a, b, c = 1, True, 'hola'  # 3 variables independientes

In [100]:
a, b, c = b, c, a  # sobreescribir

a

True

**tipos de bucles**

In [102]:
for e in lst:  # para cada elemento en la lista
    print(e)

1000000
0
354
0
46
0
36
0
6
0
754
767
5
35.6
True
False

In [103]:
for e in lst:
    
    if e%2==0: # si el numero es par...
        
        print(e)   # imprime

1000000
0
354
0
46
0
36
0
6
0
754
False

In [104]:
# ahora por indices


for i in range(len(lst)):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [106]:
range(len(lst))

range(0, 16)

In [115]:
for i in range(-3, 2, 2):  # start-stop-step
    print(i)

-3
-1
1

In [118]:
for i in range(1, len(lst), 3):  # start-stop-step
    print(lst[i])

0
46
0
754
35.6

In [119]:
for index, elem in enumerate(lst):
    
    print(index, ':', elem)

0 : 1000000
1 : 0
2 : 354
3 : 0
4 : 46
5 : 0
6 : 36
7 : 0
8 : 6
9 : 0
10 : 754
11 : 767
12 : 5
13 : 35.6
14 : True
15 : False

In [128]:
list(enumerate(lst))

[(0, 1000000),
 (1, 0),
 (2, 354),
 (3, 0),
 (4, 46),
 (5, 0),
 (6, 36),
 (7, 0),
 (8, 6),
 (9, 0),
 (10, 754),
 (11, 767),
 (12, 5),
 (13, 35.6),
 (14, True),
 (15, False)]

In [123]:
# fibonacci con bucle while

a=0

b=1

contador=0

print(a)
print(b)

while contador<10:
    
    c=a+b
    print(c)
    
    a=b
    b=c
    
    contador+=1

0
1
1
2
3
5
8
13
21
34
55
89

In [129]:
# fibonacci con bucle for

a=0
b=1

print(a)
print(b)

for _ in range(10):
    
    c=a+b
    print(c)
    
    a=b
    b=c

0
1
1
2
3
5
8
13
21
34
55
89

In [132]:
for carapijo in lst:
    print(carapijo)

1000000
0
354
0
46
0
36
0
6
0
754
767
5
35.6
True
False

In [133]:
carapijo

False

In [134]:
for carapijo in str_lst:
    print(carapijo)

hola
aqui
uo
ibrjwe

In [135]:
carapijo

'ibrjwe'

**condicionales**

In [140]:
float('3.4')

3.4

In [145]:
string='hola que tal 34'

string[-1]

'4'

In [142]:
estudiante='Pepe 😷'

if estudiante[-1] == '😷':
    print(estudiante, ' puede entrar al campus.')
    
else:
    print(estudiante, ' no puede entrar al campus.')

Pepe 😷  puede entrar al campus.

In [149]:
a=1

if a==0:
    print('A es un cerito...')
    
elif a<0:
    print('menor')
    
elif a>0:
    print('mayor')
    
else:
    print('ni idea alegre')

mayor

In [153]:
a=5

if a<4:
    print('Sep')
else:
    print('aqui')

if a>1:
    print('Nop')

aqui
Nop

**list comprehension**

In [154]:
lst=[]

for i in range(20):
    
    lst.append(i)  # añade los elementos a la lista
    
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [155]:
lst=[i for i in range(20)]

lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [156]:
lst_lst=[]

for i in range(0, 9, 3):
    
    lst_lst.append([i+1, i+2, i+3])
    
    
lst_lst

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [157]:
lst_lst=[[i+1, i+2, i+3] for i in range(0, 9, 3)]

lst_lst

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [160]:
lst_lst=[]

for i in range(0, 9, 3):

    if i%2==0:
        lst_lst.append([i+1, i+2, i+3])
    
    
lst_lst

[[1, 2, 3], [7, 8, 9]]

In [161]:
lst_lst=[[i+1, i+2, i+3] for i in range(0, 9, 3) if i%2==0]

lst_lst

[[1, 2, 3], [7, 8, 9]]

In [163]:
lst_lst=[]


for i in range(20):
    
    
    
    for j in range(4):
        
        lst_lst.append([i, j])
        
len(lst_lst)

80

In [165]:
lst_lst=[[i, j] for i in range(20) for j in range(4)]

len(lst_lst)

80

In [166]:
lst=[]

for i in range(0, 9, 3):

    if i%2==0:
        lst.append(i)
    else:
        lst.append(1)
    
    
lst

[0, 1, 6]

In [176]:
lst=[i if i%2==0 else 1 for i in range(0, 9, 3)]

lst

[0, 1, 6]

In [178]:
lst_lst[0]

[0, 0]

In [179]:
lst_lst[0][1]

0

In [180]:
type(lst_lst[0])

list

In [182]:
len(lst_lst)

80

In [184]:
n_lst=[]

for e in lst_lst:
    
    for f in e:
        
        n_lst.append(f)
        
len(n_lst)

160

In [189]:
n_lst=[str(f*5) for e in lst_lst for f in e]

len(n_lst)

160

In [190]:
n_lst[5]

'10'

In [191]:
lst_lst=[[1, 2, 3, 4, 5], [6, 7, 8], [9, 10]]


lst=[str(f)+'a' for e in lst_lst if len(e)<4 for f in e if f%2==0]


lst

['6a', '8a', '10a']

In [192]:
lst=[]

for e in lst_lst:

    if len(e)<4:
        
        for f in e:
            
          if f%2==0:
            
            lst.append(str(f)+'a')
            
            
lst

['6a', '8a', '10a']

In [214]:
lst=[0, 1, 0, 0]

lst.append(0)

lst

[0, 1, 0, 0, 0]

In [215]:
lst.count(0)

4

In [216]:
lst.count(1)

1

In [217]:
lst.count('hola')

0

In [218]:
lst.extend(lst)

lst

[0, 1, 0, 0, 0, 0, 1, 0, 0, 0]

In [219]:
lst+lst

[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0]

In [220]:
lst[0]='a'

lst

['a', 1, 0, 0, 0, 0, 1, 0, 0, 0]

In [221]:
lst.insert(0, 'hola')

In [222]:
lst

['hola', 'a', 1, 0, 0, 0, 0, 1, 0, 0, 0]

In [223]:
lst.index(0)

3

In [224]:
lst.pop()

0

In [226]:
lst.pop(2)

1

In [227]:
lst

['hola', 'a', 0, 0, 0, 0, 1, 0, 0]

In [228]:
lst.remove('a')

In [231]:
lst

['hola', 0, 0, 0, 0, 1, 0, 0]

In [234]:
lst.reverse()

lst

[0, 0, 1, 0, 0, 0, 0, 'hola']

In [236]:
lst.pop()

'hola'

In [237]:
lst.sort()

lst

[0, 0, 0, 0, 0, 0, 1]

In [238]:
lst.sort(reverse=True)

lst

[1, 0, 0, 0, 0, 0, 0]

In [244]:
lst=lst[::-1]

In [245]:
lst

[0, 0, 0, 0, 0, 0, 1]

## Tuplas

Inmutables

In [246]:
letras=('a', 'b', 'c')

letras

('a', 'b', 'c')

In [247]:
type(letras)

tuple

In [248]:
for e in letras:
    print(e)

a
b
c

In [249]:
letras.append('d')

AttributeError: 'tuple' object has no attribute 'append'

In [250]:
letras.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [251]:
letras.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [252]:
letras[0]

'a'

In [253]:
letras[0]='d'

TypeError: 'tuple' object does not support item assignment

In [259]:
letras_lst=list(letras)

letras_lst.append('d')

In [262]:
letras=tuple(letras_lst)

In [266]:
letras[::-1]

('d', 'c', 'b', 'a')

In [267]:
(i for i in range(10))

## Conjuntos (set)

In [268]:
lst=[1,1,1,2,3,3,3,3,3,3,4,5,5,6,6,6,76,7,78,8,8,8,9,9,9,99,0,0,0,0]

In [269]:
set(lst)  # vsalores unicos

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 76, 78, 99}

In [270]:
s=set(lst)

In [271]:
type(s)

set

In [274]:
s.add(90)

s

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 76, 78, 90, 99}

In [276]:
s.remove(0)

s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 76, 78, 90, 99}

In [277]:
set_1=set([1,1,1,2,3,3,3,3,3,3,4,5,5,6,6,6,76,7,78,8,8,8,9,9,9,99,0,0,0,0])

set_2=set([3, 4, 5, 6, 7, 8, 9, 0, 8 , 0, 780, 78,789,786])

In [279]:
set_2

{0, 3, 4, 5, 6, 7, 8, 9, 78, 780, 786, 789}

In [280]:
union=set_1.union(set_2)

union

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 76, 78, 99, 780, 786, 789}

In [281]:
set_1.intersection(set_2)

{0, 3, 4, 5, 6, 7, 8, 9, 78}

In [282]:
set_1 - set_2

{1, 2, 76, 99}

In [283]:
set_1.issubset(set_2)

False

In [284]:
set_1.issuperset(set_2)

False

In [285]:
set_3=set([1])

In [287]:
set_3.issubset(set_1)

True

In [288]:
set_1.issuperset(set_3)

True

In [289]:
set_1 & set_2    # interseccion

{0, 3, 4, 5, 6, 7, 8, 9, 78}

In [290]:
set_1 | set_2   # union

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 76, 78, 99, 780, 786, 789}

In [295]:
for e in set_1 | set_2:
    print(e)

0
1
2
3
4
5
6
7
8
9
76
780
78
786
789
99

In [298]:
list(set_1)[5]

5

## Diccionarios

In [299]:
dict()

{}

In [302]:
{}

{}

In [303]:
d={'a': 3, 'y': 6, 1: 'vb'}

d

{'a': 3, 'y': 6, 1: 'vb'}

In [304]:
type(d)

dict

In [307]:
d['a']

3

In [308]:
d[1]

'vb'

In [309]:
lst=[
    {'nombre': 'Pepe', 'edad': 34, 'trabaja': True},
    {'nombre': 'Ana', 'edad': 4, 'trabaja': False},
    {'nombre': 'Juan', 'edad': 42, 'trabaja': True}
]

In [310]:
lst[1]

{'nombre': 'Ana', 'edad': 4, 'trabaja': False}

In [311]:
for dictio in lst:
    
    if dictio['trabaja']:
        
        print(dictio['nombre'])

Pepe
Juan

In [313]:
dictio.keys()

dict_keys(['nombre', 'edad', 'trabaja'])

In [314]:
dictio.values()

dict_values(['Juan', 42, True])

In [315]:
dictio.items()

dict_items([('nombre', 'Juan'), ('edad', 42), ('trabaja', True)])

In [318]:
for e in dictio.items():
    print(e[0])

nombre
edad
trabaja

In [319]:
for e in dictio.items():
    print('key-', e[0], ': value-', e[1])

key- nombre : value- Juan
key- edad : value- 42
key- trabaja : value- True

In [324]:
lst=[('a', 'hol'), (2, (5, 4))]

lst

[('a', 'hol'), (2, (5, 4))]

In [325]:
dict(lst)

{'a': 'hol', 2: (5, 4)}

In [331]:
dictio['lst']=[i for i in range(20)]

In [333]:
type(dictio['lst'])

list

In [334]:
dictio.update({'nombre': 'Pepelu'})

dictio

{'nombre': 'Pepelu',
 'edad': 42,
 'trabaja': True,
 'lst': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]}

In [340]:
dictio.pop('edad')  # borrar

42

In [341]:
dictio

{'nombre': 'Pepelu', 'trabaja': True}

In [343]:
dictio.clear()

dictio

{}

In [350]:
lst1=['a', 'b', 'c']

lst2=[1, 2, 2]

In [351]:
n_dic={lst1[i]: lst2[i] for i in range(len(lst1))}

n_dic

{'a': 1, 'b': 2, 'c': 2}

In [353]:
var=5

dictio={var:4}

dictio

{5: 4}

In [355]:
list(zip(lst1, lst2))

[('a', 1), ('b', 2), ('c', 2)]

In [356]:
dict(zip(lst1, lst2))

{'a': 1, 'b': 2, 'c': 2}

In [357]:
lst=list(zip(lst1, lst2))

In [358]:
lst

[('a', 1), ('b', 2), ('c', 2)]

In [359]:
d={k:v for k,v in lst}

d

{'a': 1, 'b': 2, 'c': 2}

In [360]:
d={v:k for k,v in lst}

d

{1: 'a', 2: 'c'}

In [364]:
n_dic['n']

KeyError: 'n'

In [365]:
n_dic.get('a')

1

In [367]:
n_dic.get('n', 'hola')

'hola'

In [368]:
print(n_dic.get('n') )

None

## Más

`is` vs `==` [link](http://net-informations.com/python/iq/is.htm#:~:text=The%20is%20operator%20compares%20the,and%20%3D%3D%20comparison%20operators%20behave.)

In [369]:
a = [1, 2]
b = [1, 2]

In [370]:
a == b

True

In [371]:
a is b

False

`while 1` vs `while True`

[Python docs](https://docs.python.org/3/tutorial/controlflow.html)

Tutorial [Python Booleans](https://realpython.com/python-boolean/)

Charla de [Richard Feynman](https://www.youtube.com/watch?v=EKWGGDXe5MA) sobre computación